{% extends 'base.html' %}
{% block title %}{{ block.super }} | Detail{% endblock %}


{% block content %}
    <div class="container-fluid align-content-center">
        <h1 class='posttitle loader'>{{ project.title }}</h1>
        <div class="detail_image img-fluid">
            <img class="img-fluid mb-4 post_img" src="{{ projects.image.url }}" alt=" image">
        </div>
        <div class="jumbotron">
            <pre class='text-center'>{{ projects.description|safe }}</pre>
            <p class="text-capitalize text-center"><ul><li>{{ projects.programing_languages }}</li></ul></p>
{#            <div class="col-xs-6 col-md-3">#}
{#                <ul class="float-right">#}
{#                    <li>#}
{#                        <button class="btn btn-lg btn-danger">{{ projects.programing_languages.0 }}</button>#}
{#                    </li>#}
{#                    <li>#}
{#                        <button class="btn btn-lg btn-primary">{{ projects.programing_languages.1 }}</button>#}
{#                    </li>#}
{#                    <li>#}
{#                        <button class="btn btn-lg btn-dark">{{ projects.programing_languages.2 }}</button>#}
{#                    </li>#}
{#                    <li>#}
{#                        <button class="btn btn-lg btn-success">{{ projects.programing_languages.3 }}</button>#}
{#                    </li>#}
{#                    <li>#}
{#                        <button class="btn btn-lg btn-warning">{{ projects.programing_languages.4 }}</button>#}
{#                    </li>#}
{#                    <li>#}
{#                        <button class="btn btn-lg btn-success">{{ projects.programing_languages.5 }}</button>#}
{#                    </li>#}
{##}
{#                </ul>#}
{#            </div>#}

        </div>
    </div>

{% endblock %}
