{#{% extends 'blog_base.html' %}#}
{#    {% block title %}About {{ block.super }}{% endblock %}#}
{% block content %}
    <div class="jumbotron">
    <div class="container">
        <h1 id="me">About Me!</h1>
        <hr>
        <h3><b>I'm</b> a Pythonista!</h3>
        <p>I started learning python at <a href="https://scriucod.eu/">ScriuCod</a>
            Now there are a ton of computer programming languages i could choose from but i chose python because is
            simple
            an powerful language with many aplications as web development, machine learning, and a lot more .
            Curently i'm learning Django framework.</p>
    </div>
     {% include 'progres_bar.html' %}
</div>
g
{% endblock %}