a:hover{
    text-decoration: none;
}
body {
	font-family: Roboto, sans-serif;
  background: -webkit-linear-gradient(180deg, black 10%, white 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(180deg, black 10%, whitesmoke 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(180deg, black 10%, ghostwhite 90%); /* IE10 */
  background:      -o-linear-gradient(180deg, black 10%, antiquewhite 90%); /* Opera 11.10+ */
  background:         linear-gradient(180deg, black 10%, floralwhite 90%); /* W3C */
}
.jumbotron{
    background-color: ghostwhite;
}