{% load static %}
<style>
    li {
        list-style-type: none;
        margin-left: 1vw;
    }

    li:first-child {
        margin: 0;
    }

    .footer-copyright, .impressum {
        text-align: center;
    }

    .logo {
        height: 8vh;
    }

    @media (max-width: 768px) {
        li {
            margin-left: 0;
            margin-bottom: 1vh;
        }

        .sozial {
            margin-bottom: 1vh;
        }
    }
</style>
<div class="container">
    <div class="content"></div>
    <footer class="row text-center">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://github.com/GhitaAlexandruIon" target="_blank"> GhitaAlexandru</a>
        </div>
    </footer>
</div>

