{% load static %}
<style>
    li {
        list-style-type: none;
        margin-left: 1vw;
    }

    li:first-child {
        margin: 0;
    }

    .footer-copyright, .impressum {
        text-align: center;
    }

    .logo {
        height: 8vh;
    }

    @media (max-width: 768px) {
        li {
            margin-left: 0;
            margin-bottom: 1vh;
        }

        .sozial {
            margin-bottom: 1vh;
        }
    }
</style>
<div class="container">
    <div class="content"></div>
    <footer class="row">
        <div class="sozial col-xs-12 col-sm-6 col-sm-push-6">
            <ul class="row">
                <li class="col-xs-6 col-sm-2">
                    <a href="https://www.facebook.com/365recall" target="_blank">
                        <img class="logo"
                             src="{% static 'portfolio/icons/facebook.png' %}" alt="facebook">
                    </a>
                </li>
                <li class="col-xs-6 col-sm-2">
                    <a href="https://github.com/GhitaAlexandruIon" target="_blank">
                        <img class="logo"
                             src="{% static 'portfolio/icons/github.png' %}" alt="github">
                    </a>
                </li>
                <li class="col-xs-6 col-sm-2">
                    <a href="https://www.linkedin.com/in/alexandru-ghita-876178106/" target="_blank">
                        <img class="logo"
                             src="{% static 'portfolio/icons/linkedin.png' %}" alt="linkedin">
                    </a>
                </li>
                <li class="col-xs-6 col-sm-2">
                    <a href="https://www.instagram.com/alexghita365/" target="_blank">
                        <img class="logo"
                             src="{% static 'portfolio/icons/instagram.png' %}" alt="instagram">
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://github.com/GhitaAlexandruIon" target="_blank"> GhitaAlexandru</a>
        </div>

        <div class="impressum col-xs-12 col-sm-3 col-sm-pull-6">
            <p></p>
            <p></p>
        </div>
    </footer>
</div>