{% load static %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Portofolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:post_list' %}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% static 'portfolio/CCA-Certificate-CSS Level 1.pdf' %}">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:about' %}">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:email' %}">Contact</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:post_new' %}">New Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:post_draft_list' %}">Drafts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Welcome: {{ user.username }}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
