{% extends 'new_base.html' %}
{% block new_base  %}
<section class="accordian-section section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading">
                    <h4><b>Progressbar & Accordians</b></h4>
                </div>
            </div><!-- col-sm-12 -->
            <div class="col-md-12 col-lg-6">

                <div class="line-progress margin-b-20" data-prog-percent=".89">
                    <div></div>
                    <p class="progress-title"><b>HTML</b></p></div>

                <div class="line-progress margin-b-20" data-prog-percent=".91">
                    <div></div>
                    <p class="progress-title"><b>CSS</b></p></div>

                <div class="line-progress margin-b-20" data-prog-percent=".70">
                    <div></div>
                    <p class="progress-title"><b>PHOTOSHOP</b></p></div>

                <div class="line-progress margin-b-50" data-prog-percent=".85">
                    <div></div>
                    <p class="progress-title"><b>XD</b></p></div>

            </div><!-- col-sm-6 -->
            <div class="col-md-12 col-lg-6">

                <div class="line-progress margin-b-20" data-prog-percent=".65">
                    <div></div>
                    <p class="progress-title"><b>JS</b></p></div>

                <div class="line-progress margin-b-20" data-prog-percent=".80">
                    <div></div>
                    <p class="progress-title"><b>PYTHON</b></p></div>

                <div class="line-progress margin-b-20" data-prog-percent=".76">
                    <div></div>
                    <p class="progress-title"><b>DJANGO</b></p></div>

                <div class="line-progress margin-b-50" data-prog-percent=".77">
                    <div></div>
                    <p class="progress-title"><b>PYCHARM</b></p></div>

            </div><!-- col-sm-6 -->
        </div><!-- row -->
    </div><!-- container -->
</section>
{% endblock %}

